<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kazakhstan</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style/team.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Dancing+Script:wght@600&family=Unna&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="Script.js"></script>
    <link rel="icon" type="image/x-icon" href="photos/android-chrome-256x256.png">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-xxl">
            <nav class="navbar">
                <div class="container">
                    <a class="navbar-brand" href="main">
                        <img src="photos/logo.png" alt="" width="300" height="150" >
                    </a>
                </div>
            </nav>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="portfolio1">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="main">About us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="services" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="bestdesigns">State symbols</a></li>
                            <li><a class="dropdown-item" href="team">Information</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Kazakhstan</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active"href="contacts">Contacts</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Type..." aria-label="Type">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
<section>
    <div class="container-xxl">
        <div class="row align-items-center">
            <div class="col-7">
               <h1>Kazakhstan</h1>
                <br>
                <audio src="photos/gymn.mp3" autoplay="autoplay"></audio>
                <p onclick="soundClick()">Anthem of Kazakhstan</p>
            </div>
            <div class="col-5">
                <img class="w-100" src="../../static/photos/images/scale_1200.jpeg" alt="Kazakhstan">
            </div>
        </div>
    </div>
</section>
<main>
    <div class="container-xxl">
        <hr size="5" color="black">
        <h2>Kazakhstan</h2>
        <br>
        <p> </p>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row justify-content-between">

                        <div class="col">
                            <div class="card w-100">
                                <img src="	https://avatars.mds.yandex.net/i?id=45303d93bea375154d17ea19aea75130-4377652-images-thumbs&n=13" class="card-img-top" alt="Susan">
                                <div class="card-body">
                                    <h5 class="card-title">Uralsk</h5>
                                    <p class="card-text">Kazakhstan</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="https://avatars.mds.yandex.net/i?id=1ce8a87d8a8595a8727d3592a411e588-5677974-images-thumbs&n=13" class="card-img-top" alt="Ali">
                                <div class="card-body">
                                    <h5 class="card-title">Aktobe</h5>
                                    <p class="card-text">Kazakhstan</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="https://avatars.mds.yandex.net/i?id=73de0e15911eeb1816bce160b6a549f6-5452154-images-thumbs&n=13" class="card-img-top" alt="Megan">
                                <div class="card-body">
                                    <h5 class="card-title">Aktay</h5>
                                    <p class="card-text">Kazakhstan</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="https://avatars.mds.yandex.net/i?id=5495e046344341643744e6e72015dae6-5651721-images-thumbs&n=13" class="card-img-top" alt="Harry">
                                <div class="card-body">
                                    <h5 class="card-title">Atyray</h5>
                                    <p class="card-text">Kazakhstan</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row justify-content-between">

                        <div class="col">
                            <div class="card w-100">
                                <img src="	https://avatars.mds.yandex.net/i?id=b9b5be1a49d989dec744358a93ed3530-5663007-images-thumbs&n=13" class="card-img-top" alt="Susan">
                                <div class="card-body">
                                    <h5 class="card-title">Almaty</h5>
                                    <p class="card-text">Kazakhstan</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="https://avatars.mds.yandex.net/i?id=721408dc306eeed6b144e5991138c166-5483853-images-thumbs&n=13" class="card-img-top" alt="Ali">
                                <div class="card-body">
                                    <h5 class="card-title">Nur-Sultan</h5>
                                    <p class="card-text">Kazakhstan</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="https://z-taraz.kz/wp-content/uploads/2019/01/3-Krasota-masterstva12.jpg" class="card-img-top" alt="Megan">
                                <div class="card-body">
                                    <h5 class="card-title">Taraz</h5>
                                    <p class="card-text">Kazakhsan</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="	https://aqmeshit-aptalygy.kz/wp-content/uploads/2021/03/2019_11_29_shymkent-1024x683.jpg" class="card-img-top" alt="Harry">
                                <div class="card-body">
                                    <h5 class="card-title">Shymkent</h5>
                                    <p class="card-text">Kazakhstan</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="carousel-item">
                    <div class="row justify-content-between">

                        <div class="col">
                            <div class="card w-100">
                                <img src="https://media.istockphoto.com/photos/beautiful-woman-smiling-with-crossed-arms-picture-id1289220545?b=1&k=20&m=1289220545&s=170667a&w=0&h=LQPVSHmR9w5vf0u45JiszsoKD-XG3oUr2Wi8RkVGNuQ=" class="card-img-top" alt="Susan">
                                <div class="card-body">
                                    <h5 class="card-title">Susan</h5>
                                    <p class="card-text">Project & Account Manager</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="https://media.istockphoto.com/photos/young-bearded-businessman-sitting-on-desk-and-posing-picture-id1322913815?b=1&k=20&m=1322913815&s=170667a&w=0&h=rvURoK1t_rjAf09De0F5v6L9_wgJrUuZK_cw3vjPgDM=" class="card-img-top" alt="Ali">
                                <div class="card-body">
                                    <h5 class="card-title">Basim</h5>
                                    <p class="card-text">Designer & Creative Director</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="https://media.istockphoto.com/photos/beautiful-smiling-african-ethnicity-businesswoman-picture-id1300304411?b=1&k=20&m=1300304411&s=170667a&w=0&h=7K4_MgZl5jfWL_JD5tF4ZiMVuSqS3MI5nA4TFeTeGa4=" class="card-img-top" alt="Megan">
                                <div class="card-body">
                                    <h5 class="card-title">Megan</h5>
                                    <p class="card-text">Chief Designer</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card w-100">
                                <img src="https://avatars.mds.yandex.net/i?id=8f943a03de81a62822978fca9e5159c8-5889045-images-thumbs&n=1" class="card-img-top" alt="Harry">
                                <div class="card-body">
                                    <h5 class="card-title">Karagandy</h5>
                                    <p class="card-text">Kazakhstan</p>
                                    <a href="#" class="btn btn-primary">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
</main>
    <section class="text-center">
        <div class="footer__wrapper">
            <div class="footer__logo"></div>
            <div class="footer__social">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-google-plus"></i>
                <i class="fa fa-youtube"></i>
            </div>
            <h5 class="footer__title">
                © 2022 -  Tourism in Kazakhstan,All Rights Reserved
            </h5>
        </div>
    </section>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>